@model InvoiceCreateDto
@{
    ViewData["Title"] = "CreateInvoiceForCompany";   
}

<h1>Create Invoice</h1>

<form id="ItemAdd" method="post">
    <div class="mb-3">
        <label class="form-label">Product List</label>
        <select class="form-select" id="ProductSelect">
            <option value="" selected>Select an Item</option>
            @foreach (var product in (List<ProductListVM>)ViewBag.ProductList)
            {
                <option value="@product.Id">@product.Name</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Quantity</label>
        <input type="number" class="form-control" id="Quantity" />
    </div>
    <div class="d-flex justify-content-between">
        <div class="mb-3">
            <input type="text" class="form-control" asp-for="PONumber" id="PONumber" placeholder="PO Number" />
        </div>
        <button type="button" id="AddProductButton" class="btn btn-success">Add Product</button>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">PRODUCT NAME</th>
            <th scope="col">QUANTITY</th>
            <th scope="col">PRICE</th>
            <th scope="col">NET AMOUNT</th>
            <th scope="col">TAX AMOUNT</th>
            <th scope="col">TOTAL AMOUNT</th>
            <th scope="col">ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InvoiceItems)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
                <td>@(item.Price * item.Quantity)</td>
                <td>@(item.Price * item.Quantity * 0.20m)</td>
                <td>@((item.Price * item.Quantity * 0.20m) + (item.Price * item.Quantity))</td>
                <td>
                    <a type="button"
                        asp-action="RemoveProductFromList" 
                        asp-controller="Invoice" 
                        asp-route-index="@Model.InvoiceItems.FindIndex(x=>x.Name==item.Name && x.Quantity==item.Quantity)" 
                        class="btn btn-warning">Remove Product
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>
<button type="button" id="CreateInvoiceButton" class="btn btn-success">Create</button>
<a type="button" asp-action="CancelAction" asp-controller="Invoice" asp-route-id="@Model.ClientId" asp-route-cacheKey="InvoiceDraftList" class="btn btn-success">Cancel</a>

<script>
    $(document).ready(function () {

        $('#AddProductButton').on('click', function () {

            let productId = $('#ProductSelect').val();
            let quantity = $('#Quantity').val();
            let poNumber = $('#PONumber').val();

            $.ajax({
                url: `/Invoice/AddproductToList?productId=${productId}&quantity=${quantity}&id=@Model.ClientId&poNumber=${poNumber}`,
                type: 'GET',
                success: function (response) {
                    sessionStorage.setItem("invoice", JSON.stringify(response));
                    window.location.href = `/Invoice/CreateInvoiceForCompany?id=@Model.ClientId`
                }
            })

        })

        $('#CreateInvoiceButton').on('click', function () {
            var invoiceData = sessionStorage.getItem("invoice");

            if (invoiceData) {
                var parsedInvoiceData = JSON.parse(invoiceData);
                let poNumber = $('#PONumber').val();
                parsedInvoiceData.poNumber = poNumber;
                $.ajax({
                    url: `/Invoice/SendInvoiceToApi`,
                    type: 'POST',
                    data: parsedInvoiceData,
                    success: function (response) {
                        window.location.href = `/Invoice/GetAllInvoicesForCompany?id=@Model.ClientId`
                    }
                })
            }
            else {
                console.log("No Invoice Data");
            }

        })


    });
</script>